.menu-button{
-fx-background-color: transparent;
}
.menu-button:focused{
-fx-border-width: 2;
-fx-border-color: rgb(234,50,80);
}
.radio-menu-item{
-fx-border-width: 2;
-fx-border-color: rgb(234,50,80);
}
.label{
-fx-font-size: 15pt;
-fx-font-family: "Segoe UI Semibold";
-fx-opacity: 1.0;
}