.root {
display: block;
-fx-background-color: rgb(0, 255, 121);
}
.fontStyle{
-fx-font-size: 16;
-fx-font-family: "Comic Sans MS";
}
.button:pressed{
-fx-background-color: rgb(99, 152, 237);
}
.label{
-fx-text-fill: blue;
}
.hbox {
-fx-padding: 15;
-fx-spacing: 10;
}
.borders{
-fx-border-color: black;
-fx-border-style: dashed;
-fx-border-width: 2;
}